:root {
  --brightGreen: #00d912;
  --lightGreen: #48d64a;
  --medGrey: rgba(51, 51, 51, 0.6);
  --darkGrey: rgba(10, 10, 10, 0.6);
  --lightGrey: rgb(87, 87, 87, 0.6);
  --lightestGrey: rgb(150, 150, 150, 0.6);
}

.ThreeD{
  height:100%;
}

.Background{
  height:100%;
  position: relative;
}

.Spotify {
  position: absolute;
  height: 75vh;
  top:0;
  left:0;
}

.Spotify h1{
  margin: 0;
  padding: 0;
}
.Current {
  display: grid;
  align-self: end;
  margin: 5px;
  margin-bottom: 5px;
}
.SpotifyWebPlayer {
  width: 340px;
}
.Scroll {
  overflow: scroll;
  border-radius: 10px;
  height: 100%;
}

.SearchesContainer{
  width:350px;
}



.SongSearches {
  display: flex;
  flex-direction: row;
  background-color: var(--darkGrey);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  border: 1px solid var(--lightGrey);
}

.SongSearches:hover {
  border: 2px solid var(--brightGreen);
}
.TitleArtist {
  display: grid;
  align-content: center;
  color: var(--lightGrey);
  margin: 5px;
  padding: 5px;
}

.Login {
  display: grid;
  justify-content: center;
  align-items: center;
}

.Login button {
  font-size: 16px;
  border-radius: 5px;
  border-color: black;
  background-color: rgb(150, 150, 150, 0.6);
  width: 200px;
  height: 25px;
}
.Login button:hover {
  border: 2px solid var(--brightGreen);
}

.SearchBar {
  display: grid;
  justify-content: center;
  align-items: center;
}

.SearchBar input {
  font-size: 16px;
  border-radius: 5px;
  border-color: black;
  background-color: rgb(150, 150, 150, 0.6);
  width: 335px;
  height: 25px;
}
.SearchBar input::placeholder {
  color: black;
}

.SearchBar input:focus {
  background-color: rgb(153, 153, 153);
}

.SearchBar input:hover {
  border: 2px solid var(--brightGreen);
}
.VolumeSlider input{
  height: 5px;
  width: 5px;
  border-radius: 5px;
  opacity: 0.5;
  width:335px;
}


._VolumeRSWP {
  display: none;
}

._DevicesRSWP {
  display: none;
}

.Visualizer {
  position: absolute;
  top:0;
  right:0;
}

.Visualizer h1 {
  margin: 0;
}
.Visualizer h2 {
  margin: 0;
}
.Visualizer h3 {
  margin: 0;
}
.SongInfo img {
  width: 32.5vh;
  border-radius: 10px;
  
}

.SongInfo {
  border-radius: 10px;
  border: 1px solid var(--lightGrey);
}

.InfoContainer {
  height: 100%;
  display: flex;
  border-radius: 10px;
  background-color: rgb(51, 51, 51, 0.5);
  background-image: linear-gradient(
    to left top,
    #d65948,
    #bc4d5c,
    #994865,
    #734563,
    #514054,
    #413947,
    #343138,
    #292929,
    #222222,
    #1b1b1b,
    #141414,
    #0a0a0a
  );
}

.NowPlaying {
  border: 1px solid var(--lightGrey);
  color: var(--lightestGrey);
  width: 100%;
  height: 96%;
  margin: 5px;
  border-radius: 10px;
  background-color: var(--darkGrey);
}

.Grey {
  color: var(--lightGrey);
}

.Margin5 {
  margin: 15px;
}

.MarginRight {
  margin-left: 20px;
}

.AnalysisData {

}

.AnalysisContainer {
}

.AnalysisTitle {
  color: var(--brightGreen);
}

.MusicData1 {
  background-color: var(--darkGrey);
  border: 1px solid var(--lightGrey);
  border-radius: 10px;
  width: 350px;
  margin: 5px;
}

.MusicData2 {
  background-color: var(--darkGrey);
  border: 1px solid var(--lightGrey);
  border-radius: 10px;
  margin: 5px;
  margin-bottom: -2.5px;

}
.MusicData3 {
  background-color: var(--darkGrey);
  border: 1px solid var(--lightGrey);
  border-radius: 10px;
  margin: 5px;
}

.MusicData1 div {
  display: grid;
  align-items: center;
  color: var(--lightestGrey);
  margin: 20px;
}

.MusicData2 div {
  display: grid;
  align-items: center;
  color: var(--lightestGrey);
  margin: 20px;
}

.MusicData3 div {
  display: grid;
  align-items: center;
  color: var(--lightestGrey);
  margin: 20px;
}
